on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u y2khub --password-stdin
    - run: make docker_image
    - run: docker push y2khub/tag_game
